$height: $gap_unit * 1.15;
$bg_switch: var(--bg_body);
$toggle_bg_hover: var(--toggle_bg_dark);

.toggle-theme{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 0;
    width: 100%;
    height: $height;

    font-size: 100%;
    font-weight: inherit;
    color: inherit;
    background-color: transparent;

    &__switch{
        position: relative;

        display: block;
        width: $height * 2;
        height: 100%;

        margin-left: $gap_unit;

        border-radius: $height;

        background-image: var(--toggle_bg);

        &:hover{
            background-image: $toggle_bg_hover;
        }

        &::before{
            content: '';
            position: absolute;
            top: 3px;
            left: 0;
            transform: translateX(3px);

            width: calc(50% - 6px);
            height: calc(100% - 6px);

            background-color: $bg_switch;
            border-radius: 50%;

            @include transitionProperty(transform);
        }

        &--active::before{
            transform: translateX(calc(200% - 9px));
        }
    }
}