header(class="main-header")
    .main-header__column
        h1(class="main-header__title")= pageTitle
        p(class="main-header__subtitle") Total Followers: 23,004
    .main-header__column
        button(class="toggle-theme") Dark Mode
            i(id="toggle-theme" class="toggle-theme__switch")