-const pageTitle = 'Social media dashboard'

//- SEO
-const author = 'Ramsua'
-const twitterName = '@RichardRamSua'
-const type = 'website'
-const description = 'Social media dashboard with theme switcher'
-const keywords = 'social media, theme switcher'
-const url = ''
-const image = url + ''