*,
*::after,
*::before {
    box-sizing: border-box;
}
html{
    position: relative;

    &::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 30vh;

        background-color: var(--bg_pattern);

        z-index: -1;

        @include transitionProperty(background-color);
    }
}
body {
    margin: 0 auto;
    padding: $gap_unit;
    max-width: $max_width;

    font: 1rem 'Inter', sans-serif;
    font-weight: 700;
    color: var(--text_color);

    background-color: var(--bg_body);
    
    @include transitionProperty(color, background-color);
}
button{
    border: none;
    outline: none;
    cursor: pointer;
}
img{
    display: block;
    max-width: 100%;
    height: auto;
}